<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-calculadora" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Calculadora</name>
    <js-module name="Calculadora" src="www/Calculadora.js">
        <clobbers target="Calculadora" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="Calculadora">
                <param name="ios-package" value="Calculadora" />
            </feature>
        </config-file>
        <source-file src="src/ios/Calculadora.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Calculadora">
                <param name="android-package" value="cordova.plugin.calculadora.Calculadora" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Calculadora.java" target-dir="src/cordova-plugin-calculadora/Calculadora" />
    </platform>
</plugin>